@using BibliotecaDeClases
@{
}
<h1>Login</h1>
	<form action="/Home/Login" method="post">
		<input type="text" name="Email"  />
		<input type="text" name="Contrasenia" value="" />
		<input type="submit"  class="btn btn-primary"  value="Iniciar Sesion" />
	</form>
